* {
  margin: 0;
  padding: 0;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(10, 10, 194);
}
.box-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(199, 20, 20);
}
.box-3 {
  width: 200px;
  height: 200px;
  background-color: rgb(15, 190, 15);
}
.box-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(214, 214, 13);
}
